* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Fragment Mono', monospace;
}

/*  NAVIGATION  */
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 14px;
    letter-spacing: 1px;
}

nav a:hover {
    opacity: 0.7;
}

/*  HERO  */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Slides wrapper */
.slides {
    display: flex;
    height: 100%;
    transition: transform 1s ease;
}

/* Each slide */
.slide {
    min-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* 5 Separate Images */
.slide:nth-child(1) {
    background-image:  url("images/slide-image-1.png");
}
.slide:nth-child(2) {
    background-image: url("images/slide-image-2.png");
}
.slide:nth-child(3) {
    background-image: url("images/slide-image-3.png");
}
.slide:nth-child(4) {
    background-image: url("images/slide-image-4.png");;
}
.slide:nth-child(5) {
    background-image: url("images/slide-image-5.png");
}

/* Dark overlay */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}

/* Hero Text */
.hero-content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 30px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
}

.button:hover {
    background: white;
    color: black;
}
